---
/*
Weekmenu Project Goals
	- Kcal waarden van recept
	- Zelf recepten kiezen (Instelling)
		- Of je wilt kiezen per 5
		- Of de dag populaten met random recepten en vervang knop toevoegen
		- Eventuweel een zoek functie over allen recepten
	- Overzicht Van gekozen recepten
	- Boodschappen lijstje (per catogarie)
		- Print versie
		- Extra dingen toevoegen zodat alles op 1 lijstje kan staan
	- Recepten automatich dozeren (Instelling)
		- Dozeren op Kcal
		- Dozeren op aantel personen
	-I18n (Extra)

Completed Goals:
	- In het recept text hebben staan hoeveel er wat nodig is
		- B.V. Voeg het water toe(250ml) en roer....
*/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Home</h1>
	</body>
</html>
